<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<p><small>&copy; 
		{{ site.name }} {{ site.time | date: '%Y' }} 
		{% if site.profile.github %}
			<a href="https://github.com/{{ site.profile.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
		{% endif %}
		{% if site.profile.youtube %}
			<a href="https://www.youtube.com/user/{{ site.profile.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i></a>
		{% endif %}
		{% if site.profile.pubmed %}
			<a href="{{ site.profile.pubmed }}"><i class="ai ai-pubmed-square ai-fw"></i></a>
		{% endif %}
		{% if site.profile.orcid %}
		<a href="{{ site.profile.orcid }}"><i class="ai ai-orcid-square ai-fw"></i></a>
		{% endif %}
	</small></p>
	</div>
	<div class="col-sm-4">
	<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
	</div>
	</div>
</div> <!-- /footer -->
