<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="{{ site.name }}">
	<title>
		{{ page.title }} | {{ site.name }} | {{ site.description }}
	</title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!-- Fonts & Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css"  integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
